html {
  scroll-behavior: smooth;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
  background-color: var(--bg);
  color: var(--color-text)
}

table {
  width: 90vw;
  margin: 1em;
}

td {
  padding: 1em;
  text-align: left;
}

a {
  text-decoration: none;
  color: var(--color-link)
}

a:hover {
  color: var(--color-link-hover)
}

.github-link {
  position: absolute;
  display: block;
  margin: 2em;
  top: 0;
  right: 0;
}

.github-link svg {
  width: 90px;
  height: 40px;
}

.et-hero-tabs,
.et-slide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: var(--bg-card);
  text-align: center;
  padding: 0 2em;
  /* margin: .5em; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: .5em;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: var(--bg);
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  bottom: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1;
  color: var(--color-text);
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background: var(--color-link);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: var(--color-link);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
  .et-hero-tabs-container--top {
    position: fixed;
    top: 0;
  }
  table {
    width: 55vw;
  }
}
