@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* colors */
:root {
  --black: #000000;
  --white: #ffffff;
  --background: #f6f7f8;

  --font-main: #5d6063;
  --link-blue: #59995da;
  --link-hover: #265080;
}

/* global */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  line-height: 1.6em;
  font-family: "Montserrat ", sans-serif;
  background-color: var(--background);
}

ul {
  list-style: none;
}

/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--white);
  color: var(--font-main);
  box-shadow: 0 2px 0 rgba(93, 96, 99, 0.1);
  width: 100vw;
  font-size: clamp(18px, 1.5vw, 24px);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__item {
  margin: auto 1em;
}

.header__link:link,
.main__link:link {
  color: var(--link-blue);
  text-decoration: none;
}

.header__link:hover {
  color: var(--link-hover);
  cursor: pointer;
}

/* main section */
.main {
  width: clamp(400px, 70vw, 800px);
  margin: 10px auto;
  font-size: 1.4em;
}

.main__title {
  display: flex;
  justify-content: center;
}

.main__card {
  background-color: var(--white);
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(93, 96, 99, 0.1);
}

.main__list {
  padding: 0;
}

.main__item {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
}
